
.ProfilePage {

    &__Image {
        position: relative;
        display: flex ;
        flex-direction: column;
        align-items: center;
        gap : 1rem ;

        .UserImage {
            width: 10rem;
            height: 10rem;
        }

        .Text {
            text-align: center;

            > *:not(:last-child) {
                margin-bottom: .8rem;
            }

            .UserName {
                color: $TextColor;
                font-weight: 600;
                font-size: 1.8rem;
            }

            .Specialization {
                font-size: 1.4rem;
            }

            .Date {
                font-size: 1.4rem;
            }
        }
    }

    &__Connection {

        .SocialMedia {
            flex-direction: row ;
            justify-content: space-between;
        }
    }

    &__PasswordChange ,
    &__DeleteAccount {

        .PasswordChange ,
        .DeleteAccount {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 1.5rem ;

            &__Label {

                > * {
                    margin-bottom: .5rem ;
                }
            }

            &__LastChange {
                font-size: 1.2rem;
            }
        }
    }

    &--My {

        .ProfilePage {

            &__Image {

                .UserImage {
                    cursor: pointer;

                    &__Edit {
                        position: absolute;
                        top : 0 ;
                        left : 0 ;
                        width: 100%;
                        height: 100%;
                        background-color: $PrimaryColor-Project;
                        border-radius: 50% ;
                        visibility: hidden;
                        opacity: 0 ;
                        transition: all .4s;

                        .EditIcon {
                            position: absolute;
                            top : 50% ;
                            left : 50% ;
                            transform: translate(-50% , -50%);
                            color : $WhiteColor ;
                        }
                    }

                    .LockOpenIcon {
                        position: absolute;
                        bottom: 0 ;
                        left : 0 ;
                        background-color: $PrimaryColor-Project;
                        color : $WhiteColor;
                        padding: .5rem;
                        border-radius: 50% ;
                        visibility: visible;
                        opacity: 1;
                        transition: all .4s;
                    }

                    &:hover {

                        .UserImage__Edit {
                            visibility: visible;
                            opacity: 1;
                        }

                        .LockOpenIcon {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }

            &__Connection {

                .Card__Header {
                    display: flex;
                    align-items: center;
                    gap : 1rem ;
                }

                .EditIcon {
                    visibility: hidden;
                    opacity: 0;
                }

                &:hover {

                    .EditIcon {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &--Visitor {

    }

    @include ScreenResponsive(Phone_Landscape) {

        &__Connection {

            .SocialMedia {
                justify-content: center;
                gap: 1rem ;
                flex-wrap: wrap;
            }
        }
    }

}

@include Language(Arabic) {

    .ProfilePage {

        &--My {

            .ProfilePage {

                &__Image {

                    .UserImage {

                        .LockOpenIcon {
                            left : initial ;
                            right: 0 ;
                        }
                    }
                }
            }
        }
    }
}

@include Themes(Light) {

    .ProfilePage {

        .ProfilePage {

            &__PasswordChange ,
            &__DeleteAccount {

                .PasswordChange ,
                .DeleteAccount {

                    &__Title {
                        color : #444 ;
                    }

                    &__Text {
                        color : #444 ;
                    }
                }
            }

        }

    }

}

@include Themes(Dark) {

    .ProfilePage {

        &__PasswordChange ,
        &__DeleteAccount {

            .PasswordChange ,
            .DeleteAccount {

                &__Title {
                    color : $WhiteColor ;
                }

                &__Text {
                    color : $TextColor ;
                }
            }
        }

    }

}
